<header>

  <div class="container">
    <div class="main-nav">

      <div class="col-xs-12 col-md-1 col-md-offset-2"><a href="#">Work</a></div>
      <div class="col-xs-12 col-md-1"><a href="#">Collection</a></div>
      <div class="col-xs-12 col-md-1"><a href="#">Exposition</a></div>
      <div class="col-xs-12 col-md-1"><a href="#"><img class="logo-header" src="app/img/logo-banana_bread.png" alt="logo banana bread" /></a></div>
      <div class="col-xs-12 col-md-1"><a href="#">About me</a></div>
      <div class="col-xs-12 col-md-1"><a href="#">Blog</a></div>
      <div class="col-xs-12 col-md-1"><a href="#">Contact me</a></div>

    </div>
    <div class="cta-header">
      <h1>Banana Bread</h1>
      <h2>Photographer</h2>
      <h3>San Francisco - Paris - Barcelona</h3>
      <a href="#" class="btn btn-default">Contact me</a>
    </div>

    <div class="activity">

    </div>

  </div>

</header>
