<section id="instagram">
  <div class="title-wrapper text-center">
    <h2>@instagram</h2>
  </div>
  <div id="insta-wrapper">
    <img src="app/img/insta1.jpg" alt="instagram hbb" />
    <img src="app/img/insta2.jpg" alt="instagram hbb" />
    <img src="app/img/insta3.jpg" alt="instagram hbb" />
    <img src="app/img/insta4.jpg" alt="instagram hbb" />
    <img src="app/img/insta5.jpg" alt="instagram hbb" />
    <img src="app/img/insta6.jpg" alt="instagram hbb" />
    <img src="app/img/insta7.jpg" alt="instagram hbb" />
    <img src="app/img/insta8.jpg" alt="instagram hbb" />
    <img src="app/img/insta9.jpg" alt="instagram hbb" />
    <img src="app/img/insta10.jpg" alt="instagram hbb" />
  </div>
</section>
