<section class="container" id="blog">
  <div class="title-wrapper text-center">
    <h2>Blog posts</h2>
    <h4>My latest ideas</h4>
  </div>
  <div *ngFor="let article of articles" class="col-xs-12 col-md-4">
  <figure>
    <img src="{{article.url}}" alt="{{article.name}}">
    <figcaption class="text-center">
      <h4>{{article.title}}</h4>
      <h6>{{article.date}} in <span>{{article.category}}</span></h6>
      <p>{{article.description}}</p>
    </figcaption>
  </figure>
  </div>


</section>
