body {
  font: 100% "Montserrat", sans-serif;
  color: #222222; }

header {
  background-image: url("../img/background-header.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

h4 {
  font-size: 17px; }

p {
  font-size: 12px;
  color: #999999; }

.footer-wrapper {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 80px; }
  .footer-wrapper h5 {
    text-transform: uppercase;
    text-align: center; }

footer h4 {
  text-align: center;
  position: relative; }
  footer h4:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 20%;
    margin-left: 15px;
    top: 58%; }
  footer h4:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 20%;
    margin-left: -25%;
    top: 58%; }

.img-about {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px; }

.bottom-footer {
  text-align: center;
  color: #999999;
  padding: 20px; }
