@charset "UTF-8";
body {
  font: 100% "Montserrat", sans-serif;
  color: #222222; }

header {
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/background-header.jpg");
  background-position: 0 -290;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  position: relative; }
  header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: 25px; }
  header h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3rem;
    font-weight: 100; }
  header h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.2rem;
    letter-spacing: 3px; }

.main-nav {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }
  .main-nav a {
    color: white;
    font-size: 16px;
    font-weight: 100; }
    .main-nav a:hover {
      text-decoration: none;
      color: black; }

.menu-item {
  width: 14.28571%;
  text-align: center; }

h2 {
  font-size: 5rem;
  font-weight: 700; }

h4 {
  font-size: 17px;
  text-align: center; }

h6 {
  color: #999999;
  text-transform: uppercase;
  position: relative; }

p {
  font-size: 1.5rem;
  color: #999999;
  padding: 0% 0 6% 0;
  line-height: 28px;
  width: 80%;
  margin: 0 auto; }

section {
  padding-bottom: 40px; }

footer h4 {
  text-align: center;
  position: relative;
  margin-bottom: 50px; }
  footer h4:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 20%;
    margin-left: 15px;
    top: 58%; }
  footer h4:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 20%;
    margin-left: -25%;
    top: 58%; }

.footer-wrapper {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 50px; }
  .footer-wrapper h5 {
    text-transform: uppercase;
    text-align: center; }
  .footer-wrapper h6 {
    margin: 0; }
  .footer-wrapper p {
    margin: 0;
    padding: 0;
    color: black; }
  .footer-wrapper .popular-post {
    margin: 10px; }

.btn-default {
  background: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid white;
  padding: 10px;
  margin-top: 40px;
  width: 20%;
  text-align: center; }
  .btn-default:hover {
    background: white;
    color: #222222;
    transition: all 0.3s ease;
    border: 1px solid white; }

.bottom-footer {
  text-align: center;
  color: #999999;
  padding: 20px; }
  .bottom-footer p {
    padding: 0; }

figure {
  margin: 20px auto; }
  figure img {
    max-width: 100%; }
  figure p {
    width: 100%; }

figcaption {
  padding-top: 5%; }
  figcaption h4 {
    text-align: center; }
  figcaption h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1rem;
    color: #999999;
    letter-spacing: 3px; }

.cta-header {
  margin-top: 20vh; }

.activity {
  display: flex;
  margin: 20px;
  border-bottom: 1px solid #999999;
  cursor: pointer;
  align-items: flex-end; }
  .activity:hover, .activity:focus {
    border-bottom: 1px solid white; }
  .activity h3 {
    text-transform: lowercase;
    margin-top: 34px;
    text-align: left; }

.activity-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 2%; }

.title-wrapper {
  padding: 6% 0% 4% 0%;
  position: relative; }
  .title-wrapper:before {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #cccccc;
    width: 20px;
    top: 90%;
    left: 49%; }
  .title-wrapper h4 {
    color: #999999;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 1%;
    letter-spacing: 0px; }

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  height: 44px;
  border: 2px solid #cccccc; }

#testimonials {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px; }

.btn-primary {
  background: #999999;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid white;
  padding: 10px;
  margin-top: 40px;
  width: 20%;
  text-align: center; }
  .btn-primary:hover {
    background: white;
    color: #222222;
    transition: all 0.3s ease;
    border: 1px solid white; }

.gm-style-iw + div {
  display: none; }

span {
  color: #666666; }

#photo-wrapper {
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/bg-section-3.jpg");
  background-position: 0 -290;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-position: 0 0;
  padding-top: 50px; }

#contact .title-wrapper {
  padding-top: 50px; }
  #contact .title-wrapper:before {
    left: 0; }

#contact p {
  width: 100%; }

#gmap {
  height: 100vh; }

#instagram {
  padding-top: 50px; }

#insta-wrapper {
  display: flex;
  overflow-y: hidden;
  margin-top: 40px; }

footer {
  padding-top: 50px; }

#info-window {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  background: white;
  padding: 20px; }

.testimonials-wrapper {
  position: relative; }

.testimonial p {
  padding: 0% 0% 3% 0%; }

.testimonial:before, .testimonial:after {
  content: '“';
  position: absolute;
  font-size: 7rem;
  color: #666666; }

.nav-bullet {
  margin: 20px auto; }
  .nav-bullet li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #999999;
    border: 1px solid #fff;
    border-radius: 10px; }
  .nav-bullet .active {
    width: 10px;
    height: 10px; }

.blog-title {
  position: relative;
  margin-bottom: 40px; }
  .blog-title:before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #cccccc;
    width: 5%;
    top: 160%;
    left: 48%; }
