<div class="container">
  <h2>Maecenas faucibus mollis.Etiam porta sem malesuada magna.</h2>
  <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
</div>
<div class="container-fluid">
  <img src="app/img/about-img2.jpg" alt="banana bread photographer" />
  <img src="app/img/about-img1.jpg" alt="banana bread photographer" />
</div>
