<section class="container-fluid" id="testimonials">
  <div class="title-wrapper text-center">
    <h2>testimonials</h2>
    <h4>Our happy customers saying </h4>
  </div>

  <div class="carousel slide container">

    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
      <li [ngClass]="{'active': activeDot === 0 }" (click)="currentSlide(0)"></li>
      <li [ngClass]="{'active': activeDot === 1 }" (click)="currentSlide(1)"></li>
      <li [ngClass]="{'active': activeDot === 2 }" (click)="currentSlide(2)"></li>
      <li [ngClass]="{'active': activeDot === 3 }" (click)="currentSlide(3)"></li>
    </ol>

    <div class="carousel-inner">
      <div *ngFor="let select of testimonial" class="testimonial-wrapper item active">
        <p class="testimonial">{{select.comment}}</p>
        <img class="img-circle center-block" [src]="select.url" alt="banana bread photographer">
        <h4>{{select.name}}</h4>
      </div>

    </div>
  </div>
</section>
