<app-header></app-header>
<main>
  <app-about></app-about>
  <section class="about-img">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="app/img/about-img2.jpg" alt="banana bread photographer" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="app/img/about-img1.jpg" alt="banana bread photographer" />
      </div>
    </div>
  </section>
  <app-works></app-works>
  <app-testim></app-testim>
  <app-blog></app-blog>
  <section id="photo-wrapper"></section>
  <app-contact></app-contact>
  <app-insta></app-insta>
</main>
<footer>
  <div class="container">

    <div class="row footer-wrapper">
      <div class="col-xs-12 col-md-3">
        <h4>about me</h4>
        <img class="img-circle center-block" src="app/img/about_me.jpg" alt="tommy dubois photgrapher"/>
        <h5>Tommy Dubois</h5>
      </div>
      <div class="col-xs-12 col-md-3">
        <h4>Popular posts</h4>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <h4>Revent posts</h4>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
        <div class="popular-post">
          <p>Consectetur purus</p>
          <h6>DECEMBER 17, 2015</h6>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <h4>Gallery on Flickr</h4>
        <div class="flickr-wrapper text-center">
          <img src="app/img/flickr1.jpg" alt="flickr banana">
          <img src="app/img/flickr2.jpg" alt="flickr banana">
          <img src="app/img/flickr3.jpg" alt="flickr banana">
          <img src="app/img/flickr4.jpg" alt="flickr banana">
          <img src="app/img/flickr5.jpg" alt="flickr banana">
          <img src="app/img/flickr6.jpg" alt="flickr banana">
        </div>
      </div>
    </div>

  </div>
  <div class="bottom-footer">
    <p>@ Copyright 2015</p>
  </div>
</footer>
