<div class="row container-fluid" id="contact">


  <div class="col-xs-12 col-md-6">
    <div class="title-wrapper">

    <h2>Contact me</h2>
    <h5>Let's get in touch</h5>

  </div>
    <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <form>
      <div class="form-group row">
        <div class="col-sm-3">
        <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="col-sm-3">
        <input type="mail" class="form-control" id="mail" placeholder="mail">
        </div>
      </div>
      <div class="form-group row">
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <textarea type="textarea" rows="10" cols="50" class="form-control" id="message" placeholder="message"></textarea>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-6">

    <div id="gmap">
    </div>
  </div>

</div>
