<div class="row container-fluid" id="contact">


  <div class="col-xs-12 col-md-6">
    <h2>Contact me</h2>
    <h5>Let's get in touch</h5>
    <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <form>
      <div class="form-group row">
        <div class="col-sm-3">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="col-sm-3">
        <label for="mail" class="col-form-label">email</label>
        <input type="mail" class="form-control" id="mail" placeholder="mail">
        </div>
      </div>
      <div class="form-group row">

      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <label for="message" class="col-form-label">message</label>
          <input type="textarea" class="form-control" id="message" placeholder="message">
        </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-6">

    <div id="gmap">
    </div>
  </div>

</div>
