<section id="contact" class="container-fluid">

  <div class="col-xs-12 col-md-6">
    <div class="title-wrapper">

    <h2>Contact me</h2>
    <p>Let's get in touch</p>

  </div>
    <p class="text-left">Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <form>
      <div class="form-group row">
        <div class="col-sm-6">
        <input type="text" class="form-control" id="name" placeholder="name" required>
        </div>
        <div class="col-sm-6">
        <input type="mail" class="form-control" id="mail" placeholder="mail" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <textarea type="textarea" rows="10" cols="50" class="form-control" id="message" placeholder="message" required></textarea>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-6">

    <div id="gmap">
    </div>
  </div>

</section>
